/* 页头 */
.sn-nav {
    position: relative;
    height: 40px;
    background: #fff;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid 
}

.sn-nav-back {
    position: absolute;
    left: 1%;
    top: 0;
    width: 15%;
}

.sn-nav-back:before {
     content: "";
    position: absolute;
    top: 14px;
    left: 25%;
    display: inline-block;
    width: 11px;
    height: 11px;
    border: solid #353d44;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg); 
}

.sn-nav-back a {
     width: 1.5rem;
    height: 1.5rem;
    text-indent: -100rem;
    overflow: hidden; 
    display: block;
}

.sn-nav-title {
     width: 60%;
    margin: 0 auto;
    color: #333; 
    text-align: center;
}

.sn-nav-right {
     right: 0; 
}

 .sn-nav-right {
     top: 0;
    width: 9%;
    position: absolute; 
}

.sn-nav-right img {
     position: absolute;
    top: 2%;
    -webkit-transform: translateY(-50%);
    right: 0; 
}

.nav-more-list {
   /*  display: none;
    position: absolute;
    top: 2.36rem;
    right: -.3rem;
    background: #484F55;
    z-index: 112;
    border: 1px solid transparent;
    border-radius: 2px; */
}

.nav-more-list li {
  /*   border-bottom: 1px solid #5B6166;
    width: 5rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: left;
    text-indent: 2.7em;
    background: #484F55; */
}

.nav-more-list li a {
   /*  position: relative;
    display: block;
    width: 100%;
    color: #fff; */
}

/* 页头 */