<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>客房预订</title>

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="icon" type="image/png" href="../../../assets/i/favicon.png">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="apple-touch-icon-precomposed"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="../../../assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

<link rel="stylesheet" href="../../../assets/css/amazeui.min.css">
<link rel="stylesheet" href="../../../assets/css/app.css">
<link rel="stylesheet" href="../../../assets/css/hotelTypeList.css">
 
</head>
<body>
	<div class="html">
    <div class="rentBox">
        <ul id="newslist">
                <a href="/wechat/hotel/hotelDetail">
                    <div class="imgurl">
                        <img src="https://cdn.yocole.com/upload/rent/2018/01/05/5a4f17cc8bcbf.jpg">
                        <h2>油菜花温泉公寓琼海卧龙谷店</h2>
                    </div>
                    <div class="text">
                        <div class="t-con">
                            <div class="detail">
                                <h3>高级观景大床房</h3>
                                <h4>
                                    一房一厅 | 48平米 | 1床 | <span>5分</span>
                                </h4>
                                
                            </div>
                            <div class="price "><p><i>¥</i><span>180</span></p></div>
                        </div>
                        <div class="keywords"><span>情侣蜜月</span><span>商务出行</span><span>多住优惠</span><span>实拍</span></div>
                    </div>
                </a>
                
                <a href="/Rent/detail/1008.html">
                    <div class="imgurl">
                        <img src="https://cdn.yocole.com/upload/rent/2018/01/05/5a4f16c352938.jpg">
                        <h2>油菜花温泉公寓琼海卧龙谷店</h2>
                    </div>
                    <div class="text">
                        <div class="t-con">
                            <div class="detail">
                                <h3>豪华两房套房</h3>
                                <h4>
                                    两房一厅 | 73平米 | 2床 | <span>5分</span>
                                </h4>
                                
                            </div>
                            <div class="price "><p><i>¥</i><span>280</span></p></div>
                        </div>
                        <div class="keywords"><span>热带森林</span><span>多住优惠</span><span>亲子度假</span><span>实拍</span></div>
                    </div>
                </a>
                
                <a href="/Rent/detail/1007.html">
                    <div class="imgurl">
                        <img src="https://cdn.yocole.com/upload/rent/2018/01/05/5a4f060fbd634.jpg">
                        <h2>油菜花温泉公寓琼海卧龙谷店</h2>
                    </div>
                    <div class="text">
                        <div class="t-con">
                            <div class="detail">
                                <h3>高级两房套房</h3>
                                <h4>
                                    两房一厅 | 64平米 | 2床 | <span>5分</span>
                                </h4>
                                
                            </div>
                            <div class="price "><p><i>¥</i><span>260</span></p></div>
                        </div>
                        <div class="keywords"><span>家庭度假</span><span>温泉之旅</span><span>朋友聚会</span><span>实拍</span></div>
                    </div>
                </a>
                </ul>
        <div class="djmoreDiv" style="display: none;">
            <div class="loading"></div>
            <input id="pagenum" type="hidden" value="1">
            <input id="cid" type="hidden" value="101">
        </div>
    </div>
</div>
</body>
</html>