<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>客房预订</title>

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="icon" type="image/png" href="../../../assets/i/favicon.png">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="apple-touch-icon-precomposed"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="../../../assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

<link rel="stylesheet" href="../../../assets/css/amazeui.min.css">
<link rel="stylesheet" href="../../../assets/css/app.css">
<link rel="stylesheet" href="../../../assets/css/hotelList.css">
 
</head>
<body>
	<div class="html">
    <div class="rentIndex">
        <ul id="newslist">
            <a href="/wechat/hotel/hotelTypeList?cid=101">
                    <div class="imgurl">
                        <img src="https://cdn.yocole.com/upload/fy/2018/01/08/5a52eb1054949.jpg">
                        <h2>¥180起</h2>                    </div>
                    <div class="text">
                        <h3>油菜花温泉公寓琼海卧龙谷店</h3>
                        <h4>琼海市嘉积镇官塘旅游度假区官塘大道北卧龙谷5号楼104房</h4>
                    </div>
                </a><a href="/Rent/roomList?cid=102">
                    <div class="imgurl">
                        <img src="https://cdn.yocole.com/upload/fy/2018/01/04/5a4d8118dc40d.jpeg">
                        <h2>¥260起</h2>                    </div>
                    <div class="text">
                        <h3>油菜花海洋公寓万宁神州半岛店</h3>
                        <h4>万宁市东澳镇神州半岛旅游度假区君临海社区6幢1502室</h4>
                    </div>
                </a>
        </ul>

    </div>
</div>
</body>
</html>