<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>首页</title>

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="icon" type="image/png" href="../../../assets/i/favicon.png">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="apple-touch-icon-precomposed"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="../../../assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

<link rel="stylesheet" href="../../../assets/css/amazeui.min.css">
<link rel="stylesheet" href="../../../assets/css/app.css">
<link rel="stylesheet" href="../../../assets/css/index.css">
 
</head>
<body >
	<header class="header-nav"> 
	   <div class="sn-nav"> 
	    <div class="sn-nav-back">
	     	<a href="javascript:history.go(-1);">返回</a>
	    </div> 
	    <div class="sn-nav-title of">
	     		六华堂
	    </div> 
	    <div class="sn-nav-right tr pr"> 
	     	<img onclick="$('#sub-title').toggle();$('#screenIfmNav').toggle();" src="data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURUxpcTQ8RDQ8RDQ8RDQ8RDQ8RDQ8RDQ8RAEPSCIAAAAHdFJOUwD2cEy/EYW+tvqEAAAAb0lEQVRIDe2ROw7AMAhDwy/c/8ZVOgCVKuhayUyRsSF5WQsFAiAAAl8JiBKpPN29tv2uXTO9Jk5sxuRlz6Cp85nPrrlm0MjteM0pI4M2tGNO8Q2XiEjxDU+NSPX1QCOyqq//tsy8+bKLEwiAwK8IXL+VA7VJ24A2AAAAAElFTkSuQmCC" style="width:22px;" /> 
		     <ul class="nav-more-list" id="sub-title"> 
		      <li><a class="nav-more-icon home-icon" href="//m.suning.com">首页</a></li> 
		      <li><a class="nav-more-icon cart-icon" href="//shopping.suning.com/project/cart/cart1.html">购物车</a></li> 
		      <li><a class="nav-more-icon search-icon" href="//m.suning.com/search.html">搜索</a></li> 
		      <li><a class="nav-more-icon cate-icon" href="//m.suning.com/list/list.html">全部分类</a></li> 
		      <li><a class="nav-more-icon ebuy-icon" href="//my.suning.com/wap/home.do">我的易购</a></li> 
		     </ul> 
	    </div> 
	    <div id="screenIfmNav" class="screenIfm" onclick="$('#sub-title').toggle();$(this).hide();" style="opacity:0;"></div> 
	   </div> 
  	</header>
</body>
</html>