<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>订单详情</title>

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="icon" type="image/png" href="../../../assets/i/favicon.png">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="apple-touch-icon-precomposed"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="../../../assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

<link rel="stylesheet" href="../../../assets/css/orderDetail.css">
 <script src="../../../assets/js/jquery.min.js"></script>

 
</head>
<body>
	
	<div class="html">
    <div class="rentOrderDetail">
        <div class="orderHeadDiv">
            <div class="order_id">订单号：15397796871138835</div>
            <div class="status">
                                                            <span>待付款</span>            </div>
        </div>
        <div class="weui-cells weui-cells_after-title titleDiv">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="title">高级观景套房(1间)</div>
                    <div class="rzDate">2018-10-18入住，2018-10-19退房</div>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    合计：<span class="money">¥260.00</span>
                </div>
            </div>
        </div>
        <div class="weui-cells__title">地址信息</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">油菜花海洋公寓万宁神州半岛店</div>
            </div>
            <a class="weui-cell weui-cell_access" href="https://api.map.baidu.com/marker?location=18.682131,110.355323&amp;title=油菜花海洋公寓万宁神州半岛店&amp;content=万宁市东澳镇神州半岛旅游度假区君临海社区6幢1502室&amp;output=html" "="">
                <div class="weui-cell__hd"><img src="https://cdn.m.yocole.com/Public/images/dituxhdpi.png" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui-cell__bd">万宁市东澳镇神州半岛旅游度假区君临海社区6幢1502室</div>
                <div class="weui-cell__ft"></div>
            </a>
        </div>

        <div class="weui-cells__title">入住信息</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="rzinfo">入住人：徐光伟</div>
                    <div class="rzinfo">手机号：15692532987</div>
                    <div class="rzinfo">身份证：460034198308050019</div>
                </div>
            </div>
        </div>

        

        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="/wechat/hotel/orderPay">支付订单</a>                                </div>
    </div>
</div>
  
</body>
</html>