<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>搜索</title>

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="icon" type="image/png" href="../../../assets/i/favicon.png">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="apple-touch-icon-precomposed"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="../../../assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

<link rel="stylesheet" href="../../../assets/css/amazeui.min.css">
<link rel="stylesheet" href="../../../assets/css/app.css">
<link rel="stylesheet" href="../../../assets/css/search.css">
 
</head>
<body >

    <div class="search"><span class="am-icon-search"></span><input type="text" value="iPhone" /></div><span class="searchText">搜索</span>
	 <br/>
	<div class="line_02"></div>
		<div class="searchtype">
	     	<ul id="myui">
	     	  <li>综合</li>
	     	  <li>销量</li>
	     	  <li>价格
		     	  <span class="am-icon-sort-up" style="display: inline-block;width: 2px;position: absolute;"></span>
		     	  <span class="am-icon-sort-down" style="display: inline-block;width: 2px;"></span>
	     	  </li>
	     	  <li>筛选<span class="am-icon-filter" style="padding-left: 2px;"></span></li>
	     	</ul>
     </div>
     <br/>
	<div class="line_02" style="margin-top: 4%;"></div>
	<!-- <div class="productList">
		<span class="productImg"><img alt="" src="//imgservice.suning.cn/uimg1/b2c/image/LXmDuO9cvbPTFuo9j_fBhA==.jpg_200w_200h_4e"></span>
		<span class="productText">
			<div>
			  <div class="productName">50抵100】HUAWEI/华为麦芒7 6GB+64GB魅海蓝移动联通电信4G全面屏手机</div>
			  <div class="price">5488.00</div>
			   <div class="evaluate">5000+ 评价  99%好评</div>
			</div>
		</span>
	</div> -->
	<div class="productList">
		<ul>
			<li class="high-product">
				<a>
						<div class="img">
							<div class="img-occupied" >
								<img
									src="//imgservice3.suning.cn/uimg1/b2c/image/YtSJKUUN9n0Z2MhWkDdzPQ.jpg_300w_300h_4e"
									url="//imgservice3.suning.cn/uimg1/b2c/image/YtSJKUUN9n0Z2MhWkDdzPQ.jpg_300w_300h_4e"
									alt="小米（MI）扫地机器人 扫式自动清扫 智能路径规划 支持米家手机APP远程控制 旋风尘盒 55W吸尘器 擦地机"
									onerror="javascript:this.src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';this.setAttribute('class','imgError');">
							</div>
							<div class="position-right-bottom"></div>
						</div>
						<div class="txt">
							<p class="name">
								<i class="project-label">自营</i>小米（MI）扫地机器人 扫式自动清扫 智能路径规划
								支持米家手机APP远程控制 旋风尘盒 55W吸尘器 擦地机
							</p>
							<p class="info-label">
								<em class="i-text">自动回充</em>
								<em class="i-text">实时清扫</em>
								<em class="i-text">大吸力长续航</em>
							</p>
							<div class="price">
								<p class="price-box">
									<span class="price-txt"> <em class="price-num">￥<strong>1699</strong>.00
									</em>
									</span>
								
								<p class="product-label" style="display: block;">
									<i id="300" class="promotion-color-one">满799-100</i>
								</p>
								<p class="shop-num">
									<em>2.0万+条评价</em> <em class="evaluate">好评率99%</em>
								</p>
							</div>
						</div>
				</a>
			</li>
			<li class="high-product">
				<a>
						<div class="img">
							<div class="img-occupied" >
								<img
									src="//imgservice2.suning.cn/uimg1/b2c/image/9DS5yzyNeRMdw9x_vSD-eA.jpg_300w_300h_4e"
									url="//imgservice2.suning.cn/uimg1/b2c/image/9DS5yzyNeRMdw9x_vSD-eA.jpg_300w_300h_4e"
									alt="小米（MI）扫地机器人 扫式自动清扫 智能路径规划 支持米家手机APP远程控制 旋风尘盒 55W吸尘器 擦地机"
									onerror="javascript:this.src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';this.setAttribute('class','imgError');">
							</div>
							<div class="position-right-bottom"></div>
						</div>
						<div class="txt">
							<p class="name">
								<i class="project-label">自营</i>小米（MI）扫地机器人 扫式自动清扫 智能路径规划
								支持米家手机APP远程控制 旋风尘盒 55W吸尘器 擦地机
							</p>
							<p class="info-label">
								<em class="i-text"> 自动回充</em> <em class="i-text"> 实时清扫</em> <em
									class="i-text"> 大吸力长续航</em>
							</p>
							<div class="price">
								<p class="price-box">
									<span class="price-txt"> <em class="price-num">￥<strong>1699</strong>.00
									</em>
									</span>
								</p>
								<p class="product-label" style="display: block">
									<i id="300" class="promotion-color-one">满799-100</i>
								</p>
								<p class="shop-num">
									<em>2.0万+条评价</em> <em class="evaluate">好评率99%</em>
								</p>
							</div>
						</div>
				</a>
			</li>
			<li class="high-product">
				<a>
						<div class="img">
							<div class="img-occupied" >
								<img
									src="//image4.suning.cn/uimg/b2c/newcatentries/0070074237-000000000123177235_1.jpg_300w_300h_4e"
									url="//image4.suning.cn/uimg/b2c/newcatentries/0070074237-000000000123177235_1.jpg_300w_300h_4e"
									alt="小米（MI）扫地机器人 扫式自动清扫 智能路径规划 支持米家手机APP远程控制 旋风尘盒 55W吸尘器 擦地机"
									onerror="javascript:this.src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';this.setAttribute('class','imgError');">
							</div>
							<div class="position-right-bottom"></div>
						</div>
						<div class="txt">
							<p class="name">
								<i class="project-label">自营</i>小米（MI）扫地机器人 扫式自动清扫 智能路径规划
								支持米家手机APP远程控制 旋风尘盒 55W吸尘器 擦地机
							</p>
							<p class="info-label">
								<em class="i-text">自动回充</em> <em class="i-text">实时清扫</em> <em
									class="i-text">大吸力长续航</em>
							</p>
							<div class="price">
								<p class="price-box">
									<span class="price-txt"> <em class="price-num">￥<strong>1699</strong>.00
									</em>
									</span>
								</p>
								<p class="product-label" style="display: block">
									<i id="300" class="promotion-color-one">满799-100</i>
								</p>
								<p class="shop-num">
									<em>2.0万+条评价</em> <em class="evaluate">好评率99%</em>
								</p>
							</div>
						</div>
				</a>
			</li>
		</ul>
	</div>
	<br/>
	
	<!--在这里编写你的代码-->

	<!--[if (gte IE 9)|!(IE)]><!-->
	<!--<![endif]-->
	<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
	<script src="../../../assets/js/jquery.min.js"></script>
	<script src="../../../assets/js/handlebars.min.js"></script>
	<script src="../../../assets/js/amazeui.min.js"></script>	
	
	<script type="text/javascript">
		$(function(){
			
	    });
	
	</script>
</body>
</html>