<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<title>商品分类</title>

<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">

<!-- No Baidu Siteapp-->
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="icon" type="image/png" href="../../../assets/i/favicon.png">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="apple-touch-icon-precomposed"
	href="../../../assets/i/app-icon72x72@2x.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage"
	content="../../../assets/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

<link rel="stylesheet" href="../../../assets/css/amazeui.min.css">
<link rel="stylesheet" href="../../../assets/css/app.css">
<link rel="stylesheet" href="../../../assets/css/category.css">
 
</head>
<body >
	<!-- <header data-am-widget="header" class="am-header am-header-default">
		<div class="am-header-left am-header-nav">
			<a href="#left-link" class=""> <img class="am-header-icon-custom"
				src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 12 20&quot;&gt;&lt;path d&#x3D;&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill&#x3D;&quot;%23fff&quot;/&gt;&lt;/svg&gt;"
				alt="" />
			</a>
		</div>

		<h1 class="am-header-title">
			<img src="http://s.amazeui.org/media/i/brand/amazeui-cw.png" />
		</h1>

		<div class="am-header-right am-header-nav">
			<a href="#right-link" class=""> <img
				class="am-header-icon-custom"
				src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 42 26&quot; fill&#x3D;&quot;%23fff&quot;&gt;&lt;rect width&#x3D;&quot;4&quot; height&#x3D;&quot;4&quot;/&gt;&lt;rect x&#x3D;&quot;8&quot; y&#x3D;&quot;1&quot; width&#x3D;&quot;34&quot; height&#x3D;&quot;2&quot;/&gt;&lt;rect y&#x3D;&quot;11&quot; width&#x3D;&quot;4&quot; height&#x3D;&quot;4&quot;/&gt;&lt;rect x&#x3D;&quot;8&quot; y&#x3D;&quot;12&quot; width&#x3D;&quot;34&quot; height&#x3D;&quot;2&quot;/&gt;&lt;rect y&#x3D;&quot;22&quot; width&#x3D;&quot;4&quot; height&#x3D;&quot;4&quot;/&gt;&lt;rect x&#x3D;&quot;8&quot; y&#x3D;&quot;23&quot; width&#x3D;&quot;34&quot; height&#x3D;&quot;2&quot;/&gt;&lt;/svg&gt;"
				alt="" />
			</a>
		</div>
	</header> -->
<div id="floor">
   
	<div class="sn-nav sn-block" style="margin-bottom: -6px;">
		<div class="sn-nav-back">
			<a class="sn-iconbtn" href="javascript:history.go(-1);">返回</a>
		</div>
		<div class="sn-nav-title of">六华堂</div>
		<div class="sn-nav-right tr pr">
			<img onclick="$('#sub-title').toggle();$('#screenIfmNav').toggle();"
				src="data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURUxpcTQ8RDQ8RDQ8RDQ8RDQ8RDQ8RDQ8RAEPSCIAAAAHdFJOUwD2cEy/EYW+tvqEAAAAb0lEQVRIDe2ROw7AMAhDwy/c/8ZVOgCVKuhayUyRsSF5WQsFAiAAAl8JiBKpPN29tv2uXTO9Jk5sxuRlz6Cp85nPrrlm0MjteM0pI4M2tGNO8Q2XiEjxDU+NSPX1QCOyqq//tsy8+bKLEwiAwK8IXL+VA7VJ24A2AAAAAElFTkSuQmCC"
				style="width:21px">
			<ul class="nav-more-list" id="sub-title">
				<li><a class="nav-more-icon home-icon" href="//m.suning.com">首页</a>
				</li>
				<li><a class="nav-more-icon cart-icon"
					href="//shopping.suning.com/project/cart/cart1.html">购物车</a></li>
				<li><a class="nav-more-icon search-icon"
					href="//m.suning.com/search.html">搜索</a></li>
				<li><a class="nav-more-icon cate-icon"
					href="//m.suning.com/list/list.html">全部分类</a></li>
				<li><a class="nav-more-icon ebuy-icon"
					href="//my.suning.com/wap/home.do">我的易购</a></li>
			</ul>
		</div>
		<div id="screenIfmNv" class="screenIn"
			onclick="$('#sub-title').toggle();$(this).hide();" style="opacty: 0">
		</div>
	</div>
	<!-- <div class="search"><span class="am-icon-search"></span><input type="text" value="搜索商品"/></div> -->
	<div class="sn-nav sn-block sn-nav-list wbox">
		<a href="https://c.m.suning.com/710home.html">
			<div class="sn-nav-icon">
				<div class="sn-nav-img"></div>
				<p class="sn-nav-txt">超市</p>
			</div>
		</a>
		<div class="sn-nav-inp wbox">
			<a href="https://m.suning.com/search.html?ch=99999994"
				class="sn-search-iconbtn"></a> <a
				href="https://m.suning.com/search.html?ch=99999994"
				class="search-url wbox-flex">为你挑好的</a>
		</div>
	</div>
	<!-- <div class="left" >
        <span>处方药(RX)</span>
	    <span>非处方药(OTC)</span>
	    <span>中药饮片(材)</span>
	    <span>保健食品</span>
	    <span>个人护肤品</span>
	    <span>器械</span>
	    <span>健康用品</span>
	    <span>生活便利品</span>
	    <span>季节性商品</span>
	    <span>护肤彩妆</span>
     </div> -->
     
     
    <!--  <div class="right">
     	<ul id="myui">
     	</ul>
     </div> -->
     
     <div class="sn-list-nav" id="sn-list-nav" > 
		   <ul> 
		    <li name="newwap_710fenlei_45376016013_word01" class="cur">热门推荐</li> 
		    <li name="newwap_710fenlei_45375616013_word01" class="">苏宁生鲜</li> 
		    <li name="newwap_710fenlei_45374516013_word01" class="">休闲零食</li> 
		    <li name="newwap_710fenlei_45375216013_word01" class="">纸品清洁</li> 
		    <li name="newwap_710fenlei_45375316013_word01" class="">个人护理</li> 
		    <li name="newwap_710fenlei_45374616013_word01" class="">乳制品</li> 
		    <li name="newwap_710fenlei_45374716013_word01" class="">水饮冲调</li> 
		    <li name="newwap_710fenlei_45374416013_word01" class="">米面粮油</li> 
		    <li name="newwap_710fenlei_45374916013_word01" class="">中外名酒</li> 
		    <li name="newwap_710fenlei_45375416013_word01" class="">美妆</li> 
		    <li name="newwap_710fenlei_45375516013_word01" class="">医药健康</li> 
		    <li name="newwap_710fenlei_45375116013_word01" class="">宠物</li> 
		    <li name="newwap_710fenlei_45375716013_word01" class="">中华特色馆</li> 
		    <li name="newwap_710fenlei_45374816013_word01" class="">进口食品</li> 
		    <li name="newwap_710fenlei_45375916013_word01" class="">奶粉尿裤</li> 
		    <li name="newwap_710fenlei_45376116013_word01" class="">苏宁国际</li> 
		    <li name="newwap_710fenlei_45375016013_word01" class="">日用家纺</li> 
		    <li name="newwap_710fenlei_45375816013_word01" class="">生活家电</li> 
		   </ul> 
 	 </div>
     <div class="sn-list-con" id="sn-list-con" > 
		   <div class="con-box"> 
					<hgroup class="module-title class-title first" showtype="1">
					  热门推荐 
					</hgroup> 
					<div class="household-recommend"> 
						 <ul> 
						  <li> <a name="newwap_710fenlei_45376016016_pic01" href="https://m.suning.com/search/%E6%B4%97%E8%A1%A3%E6%B6%B2/"> <img src="https://image1.suning.cn/uimg/cms/img/153622202537125615.jpg" /> <em>洗衣液</em> </a> </li> 
						  <li> <a name="newwap_710fenlei_45376016016_pic02" href="https://m.suning.com/list/500478-0.html"> <img src="https://image1.suning.cn/uimg/cms/img/151650262775935188.jpg" /> <em>牛奶</em> </a> </li> 
						  <li> <a name="newwap_710fenlei_45376016016_pic03" href="https://m.suning.com/list/500591-0.html"> <img src="https://image2.suning.cn/uimg/cms/img/149965152414662815.jpg" /> <em>抽纸</em> </a> </li> 
						  <li> <a name="newwap_710fenlei_45376016016_pic04" href="https://m.suning.com/list/503928-0.html"> <img src="https://image1.suning.cn/uimg/cms/img/153622212187139588.jpg" /> <em>水果</em> </a> </li> 
						  <li> <a name="newwap_710fenlei_45376016016_pic05" href="https://m.suning.com/list/500436-0.html"> <img src="https://image3.suning.cn/uimg/cms/img/153622233341807567.jpg" /> <em>大米</em> </a> </li> 
						  <li> <a name="newwap_710fenlei_45376016016_pic06" href="https://m.suning.com/search/%E9%9B%B6%E9%A3%9F/&amp;ch=99999994"> <img src="https://image1.suning.cn/uimg/cms/img/153622263609615622.jpg" /> <em>零食</em> </a> </li> 
						  <li> <a name="newwap_710fenlei_45376016016_pic07" href="https://m.suning.com/search/%E5%8F%A3%E7%BA%A2/&amp;cn=36303831373435323333"> <img src="https://image1.suning.cn/uimg/cms/img/153622281790120907.jpg" /> <em>口红</em> </a> </li> 
						  <li> <a name="newwap_710fenlei_45376016016_pic08" href="https://m.suning.com/search/%E6%B4%97%E5%8F%91%E6%B0%B4/"> <img src="https://image1.suning.cn/uimg/cms/img/153355989132203442.jpg" /> <em>洗发水</em> </a> </li> 
						  <li> <a name="newwap_710fenlei_45376016016_pic09" href="https://m.suning.com/list/500394-0.html"> <img src="https://image3.suning.cn/uimg/cms/img/153775365802488155.jpg" /> <em>白酒</em> </a> </li> 
						 </ul> 
					</div>
					<hgroup class="module-title class-title " showtype="1">
		  			  	 品牌墙 
		   			</hgroup> 
				    <div class="household-recommend"> 
					    <ul> 
					     <li> <a name="newwap_710fenlei_45376016018_pic01" href="https://shop.suning.com/30000733/index.html"> <img src="https://image3.suning.cn/uimg/cms/img/151650700349647259.jpg" /> <em>酒祝新年</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic02" href="https://shop.suning.com/30000756/index.html"> <img src="https://image1.suning.cn/uimg/cms/img/151650713756054389.png" /> <em>轻奢酒礼</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic03" href="https://shop.m.suning.com/30000485.html"> <img src="https://image1.suning.cn/uimg/cms/img/150790252779382233.png" /> <em>洁净生活家</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic04" href="https://shop.m.suning.com/30000524.html"> <img src="https://image1.suning.cn/uimg/cms/img/153356009442166487.jpg" /> <em>滋润好呵护</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic05" href="https://shop.m.suning.com/30000861.html"> <img src="https://image2.suning.cn/uimg/cms/img/151515703580329739.jpg" /> <em>趣味零食</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic06" href="https://m.suning.com/search/Swisse/"> <img src="https://image1.suning.cn/uimg/cms/img/151133880882518959.jpg" /> <em>健康主会场</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic07" href="https://shop.m.suning.com/30000641.html"> <img src="https://image1.suning.cn/uimg/cms/img/150233315359802720.jpg" /> <em>点滴幸福</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic08" href="https://m.suning.com/search/%E4%B9%90%E4%BA%8B/"> <img src="https://image1.suning.cn/uimg/cms/img/151133896542440978.jpg" /> <em>片片有乐事</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic09" href="https://m.suning.com/search/su%3Am37/"> <img src="https://image3.suning.cn/uimg/cms/img/151133916923252936.jpg" /> <em>初冬保湿礼</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic10" href="https://m.suning.com/search/%E7%BE%8E%E5%8F%AF%E5%8D%93/"> <img src="https://image3.suning.cn/uimg/cms/img/151133941426848514.jpg" /> <em>优质好奶源</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic11" href="https://m.suning.com/search/%E8%BF%AA%E5%A5%A5/"> <img src="https://image3.suning.cn/uimg/cms/img/150233340044547206.jpg" /> <em>多面优雅</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic12" href="https://m.suning.com/search/%E5%9C%A3%E7%BD%97%E5%85%B0/"> <img src="https://image1.suning.cn/uimg/cms/img/150233412847147283.jpg" /> <em>奢华的性感</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic13" href="https://m.suning.com/search/whoo%E5%90%8E%E6%8B%B1%E8%BE%B0%E4%BA%AB/"> <img src="https://image1.suning.cn/uimg/cms/img/150233414472161656.jpg" /> <em>缔造桃花肌</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic14" href="https://m.suning.com/search/%E5%AE%B6%E4%B9%90%E6%B0%8F/"> <img src="https://image2.suning.cn/uimg/cms/img/151174566565053611.jpg" /> <em>洋气早餐</em> </a> </li> 
					     <li> <a name="newwap_710fenlei_45376016018_pic15" href="https://shop.m.suning.com/30000757.html"> <img src="https://image1.suning.cn/uimg/cms/img/150233302865171298.jpg" /> <em>好酒可传世</em> </a> </li> 
					    </ul> 
				    </div>  	   
			 </div> 
     </div>
     <ul class="bottom hor-view"> 
	   <li> <a class="" name="newwap_newdaohang_45473316165_piword01" href="https://c.m.suning.com/710home.html"> <img src="https://image3.suning.cn/uimg/cms/img/153570368797567311.jpg" /> <p>首页</p> </a> </li> 
	   <li> <a class="" name="newwap_newdaohang_45473316165_piword02" href="https://c.m.suning.com/newpin.html"> <img src="https://image1.suning.cn/uimg/cms/img/153250647752612003.png" /> <p>吃货街</p> </a> </li> 
	   <li style="margin-top: -3%;"> <a class="centerNav" name="newwap_newdaohang_45473316165_piword03" href="https://c.m.suning.com/newJRBQ.html"> <img  class="jrbx" src="https://image1.suning.cn/uimg/cms/img/153250650030384559.png" /> <p style="margin-top: 5px;">今日必抢</p> </a> </li> 
	   <li> <a class="" name="newwap_newdaohang_45473316165_piword04" href="https://c.m.suning.com/710fenlei.html"> <img src="https://image1.suning.cn/uimg/cms/img/153250932603027679.jpg" /> <p class="cur">分类搜索</p> </a> </li> 
	   <li> <a class="" name="newwap_newdaohang_45473316165_piword05" href="https://c.m.suning.com/bcchannel.htm?userId=121538454025&amp;utm_source=share-wx&amp;utm_medium=2cd5ed46-wxfriends"> <img src="https://image3.suning.cn/uimg/cms/img/153622369782256012.png" /> <p>拔草</p> </a> </li> 
   </ul>
</div>
	<!--在这里编写你的代码-->

	<!--[if (gte IE 9)|!(IE)]><!-->
	<!--<![endif]-->
	<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
	<script src="../../../assets/js/jquery.min.js"></script>
	<script src="../../../assets/js/handlebars.min.js"></script>
	<script src="../../../assets/js/amazeui.min.js"></script>
	
	<script id="ul-template" type="text/x-handlebars-template">
		
     </script>
	<script type="text/javascript" >
		
	$(function(){
		//$('body').on('touchmove',function(event){event.preventDefault();});
		
		var span = $('.left>span');
       $('.left>span').each(function(){
    	   $(this).click(function(){
    		   $(this).css("background-color","#FFFFFF");
    		   $(this).css("border-left-style","solid");
    		   $(this).css("border-left-width","2px");
    		   $(this).css("border-left-color","#387EF5");
    		   $(this).css("color","#387EF5");
    		   
    		   var n = span.index($(this));
    	        $('.left span:not(:eq('+n+'))').each(function(){
    	        	 $(this).css("background-color","#F8F8FA");
    	        	 $(this).css("border-left-style","none");
    	    		 $(this).css("border-left-width","0px");
    	    		 $(this).css("color","#000000");
    	        });
    	        
    	   })
    	   
       });
       
       
       $(".search>input").focus(function(){
    	   self.location='/wechat/category/search';   
 	   }); 
       $("#myui>li").click(function(){
    	   self.location='/wechat/category/searchResult';   
 	   }); 
    });
		
	</script>
</body>
</html>